PORT=3000
JWT_SECRET=minha_chave_super_secreta
DATABASE_URL="mysql://root:200613@localhost:3306/bd_trabalho_final"
DATABASE_USER="root"
DATABASE_PASSWORD="200613"
DATABASE_NAME="bd_trabalho_final"
DATABASE_HOST="localhost"
DATABASE_PORT=3306


