PORT=3000
JWT_SECRET=minha_chave_super_secreta
DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco"
DATABASE_USER="usuario"
DATABASE_PASSWORD="senha"
DATABASE_NAME="nome_do_banco"
DATABASE_HOST="localhost"
DATABASE_PORT=3306


